<div class='row question'>
  <div class='question'>
    <div class='col-md-1'>
      <div class='circle'>
        {{ answers_count }}
      </div>
      answers
    </div>
    <div class='col-md-11'>
      <span class='title'>
        <a href="/questions/{{ id }}/answers">
          {{ title }}
        </a>
      </span>
      <br />
      <div class='footer'>
        <div class='tags'>
          {{#each tags}}
            {{> shared/_tag }}
          {{/each}}
        </div>
        {{> shared/_user}}
      </div>
    </div>
  </div>
</div>