- if resource.attachments.count > 0
  .attachments
    Next files are attached:
    %br
    - resource.attachments.each do |a|
      = link_to a.file.identifier, a.file.url, class: 'btn btn-xs btn-default'