- if @question.comments.any?
  - @question.comments.each do |comm|
    .comment
      = comm.body
      - if current_user == comm.user
        |
        = link_to 'x', comm, method: :delete, question_id: @question
  - if current_user
    .comment
      = simple_form_for :comments, remote: true do |c|
        = c.input :body