.comments{ data: { resource: parent.class.to_s.downcase + 's', id: parent.id } }
  - if parent.comments.any?
    - parent.comments.each do |comm|
      .comment{data: {id: comm.id}}
        %span.comment-body
          = comm.body
        - if current_user == comm.user
          |
          = link_to 'edit', '#', class: 'edit-comment'
          |
          = link_to 'x', comment_path(comm), method: :delete, remote: true, class: 'remove-comment', data: { type: :json }
- if current_user
  .comment-form
    = link_to 'add a comment', '#', id: 'add-comment', data: { resource: parent.class.to_s.downcase + 's', id: parent.id }