development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "08e46ddfd090b0bfb60097c928b9443c959c32b2012830619413b6a1bc608d7b"
  signature_expiration: 3600 # one hour
