# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 70c8c9213b5157437b30eb37647052bfb457b94e3c362764a4c713b4bbeeb9344ae41ec433e3cd72a71cefb36c33bd7ca34e44e7eac365edd10ba29922615812

test:
  secret_key_base: 838e8723942e4a554ec579b11aa6f5db02979705b6a629d90d8ab86690e60e96f1a54e23e9f13e8306283de9d06ce97c0962e22dda6b7acbec38987c137a4d8e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
